@charset "UTF-8";
.daohang {
    .container{
        min-height: 80px;
    }
}

.el-contain-reg{

    .form-horizontal .has-feedback .form-control-feedback{
        left: 206px;
    }
    //表单验证中的叉叉图标的位置
    .panel{
        margin-top: 10px;

    }
    .panel-body form{
        width: 600px;
        margin: 0 auto;
        input{
            width: 220px;
        }
        p{
            padding-top: 5px;
            color: #999;
        }
        p.header{
            font-size: 18px;
            padding: 14px;
        }
        span{
            padding-left: 35px;
        }
        p.dhcp{
            padding-top: 14px;
        }
    }
}
